.main{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-template-rows: repeat(5 , 100px) ;
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;
    font-size: 50px;
}

.set{
    /* background-color: aquamarine; */
    border: 2px solid black;
}

.head{
    grid-column-start: 1;
    grid-column-end: 6;
}

.menu{
    grid-row-start: 2;
    grid-row-end: 9;
}
.right{ 
    grid-column-start: 2;
    grid-column-end: 7;
}
.main{
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 7;
}
.foot{
    grid-column-start: 1;
    grid-column-end: 7;
    height: 80px;

}

/* @media (width: 695px) {
div{
    background-color: blueviolet;
}
} */

@media (min-width: 700px) {
div{
    background-color: gray;
}
}

@media (max-width: 700px) {
div{
    background-color: rgb(185, 4, 4);
}
}

/* @media (orientation:landscape) {
div{
    background-color: blueviolet;
}
} */